* {
  margin: 0%;
  padding: 0%;
}

@media screen and (max-width: 375px) {
  .app__container {
    display: flex;
    flex-direction: column;
  }
  .search__container {
    background: #1e213a;
  }
}
