@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 375px) {
  .app__container {
    display: flex;
    flex-direction: column;
  }
  .search__container {
    background-color: #1e213a;
    height: 100vh;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 16px 0px 16px;
  }
  .navbar__input {
    padding: 8px;
    background-color: #9ca3af;
    color: white;
    font-size: 1rem;
    border-radius: 5%;
  }
  .navbar__input::placeholder {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  .navbar__input:focus {
    outline: none;
  }
  .navbar__btn {
    padding: 8px;
    background-color: #9ca3af;
    border-radius: 100%;
    color: white;
    outline: none;
  }
  .weather__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather__icon {
    margin-top: 72px;
  }
  .weather__temp {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 24px;
  }
  .temp__text {
    font-size: 7.451rem;
    color: white;
    vertical-align: text-bottom;
  }
  .temp__symbol {
    font-size: 2.441rem;
    vertical-align: baseline;
    color: #9ca3af;
  }
  .weather__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 32px;
  }
  .weather__text {
    color: #9ca3af;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.953rem;
  }
  .weather__present {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #9ca3af;
    margin-top: 88px;
  }
  .weather__day {
    text-transform: capitalize;
  }
  .weather__day::after {
    content: '\00b7';
    margin-left: 8px;
    margin-right: 8px;
  }
  .weather__date {
    text-transform: capitalize;
  }
  .weather__location {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #9ca3af;
    margin-top: 24px;
  }
  .location__text {
    margin-left: 8px;
    font-size: 1.25rem;
    text-transform: capitalize;
  }
}
