@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
}

/* mobile layout */
@media screen and (max-width: 375px) {
  .app__container {
    display: flex;
    flex-direction: column;
  }
  .search__container {
    background-color: #1e213a;
    height: 100vh;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 16px 0px 16px;
  }
  .navbar__input {
    padding: 8px;
    background-color: #9ca3af;
    color: white;
    font-size: 1rem;
    border-radius: 5%;
  }
  .navbar__input::placeholder {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  .navbar__input:focus {
    outline: none;
  }
  .navbar__btn {
    padding: 8px;
    background-color: #9ca3af;
    border-radius: 100%;
    color: white;
    outline: none;
  }
  .weather__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .weather__icon {
    margin-top: 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  .weather__bg {
    opacity: 10%;
    z-index: 0;
    position: absolute;
    width: 435px;
  }
  .weather__img {
    z-index: 1;
  }
  .weather__temp {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 88px;
  }
  .temp__text {
    font-size: 7.451rem;
    color: white;
    vertical-align: text-bottom;
  }
  .temp__symbol {
    font-size: 2.441rem;
    vertical-align: baseline;
    color: #9ca3af;
  }
  .weather__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 32px;
  }
  .weather__text {
    color: #9ca3af;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.953rem;
    margin-top: 32px;
  }
  .weather__present {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #9ca3af;
    margin-top: 32px;
  }
  .weather__day {
    text-transform: capitalize;
  }
  .weather__day::after {
    content: '\00b7';
    margin-left: 8px;
    margin-right: 8px;
  }
  .weather__date {
    text-transform: capitalize;
  }
  .weather__location {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #9ca3af;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .location__text {
    margin-left: 8px;
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  .forecast__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    column-gap: 16px;
    row-gap: 32px;
    height: auto;
    width: 100%;
    padding-top: 56px;
  }
  .card:nth-child(odd) {
    margin-left: 24px;
  }
  .card:nth-child(even) {
    margin-right: 24px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #1e213a;
    padding: 8px;
  }
  .card__date {
    font-size: 1.25rem;
  }
  .card__icon {
    height: 88px;
    width: 88px;
    margin-top: 16px;
  }
  .card__temp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 24px;
    font-size: 1.25rem;
  }
  .temp__max {
    color: #9ca3af;
  }
  .weather__detail {
    display: flex;
    flex-direction: column;
    background-color: #100e1d;
  }
  .detail__text {
    color: white;
    font-size: 1.563rem;
    margin-top: 48px;
    margin-left: 24px;
    text-transform: capitalize;
    font-weight: 800;
  }
  .wh__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wh__wind {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1e213a;
    color: white;
    margin: 0px 24px 0px 24px;
    margin-top: 24px;
  }
  .wind__title {
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  .wind__icon {
    background-color: #9ca3af;
    padding: 8px;
    border-radius: 100%;
  }
}
